<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Login de practicas</title>

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <h1>Bienvenidos al club de la musica!</h1>
    <body class="text-center">

  </head>

  <body></body>
   
  <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  <p class="mt-5 mb-3 text-muted"></p>

  <a type="button" class="w-100 btn btn-lg btn-bd-primary">Registrarse</a>

</body>